{
  "presets": [["latest", {
      "es2015": {
        "modules": false
      }
    }]],
    "plugins": [
    ["transform-runtime", {
        "polyfill": false,
        "regenerator": true
    }]],
  "comments": false
}
